---
layout: "wrapper" 
---


<div class="container pt-4">


                <div class="h2 font-weight-bold text-center p-3">
                    PINACOTECA DEL EJERCITO DE CHILE
                </div>
                
                <div class="row">
                    <div class="col-md-12  col-sm-12">
                        <div class="text text-center">
    Desde su creación, el Ejército de Chile ha ido conformando un valioso patrimonio pictórico, el que está distribuido a lo largo del
país en las diferentes unidades, siendo expuestas en lugares relevantes de la vida diaria de sus integrantes. Debido a la historia
de estas pinturas y los vínculos establecidos entre la civilidad con cada unidad, estas piezas se han constituido en elementos
de identidad y como parte de su legado., adquiriendo el compromiso de conservarlas. <br>
La muestra pictórica que se presenta al personal de la institución y a la ciudadanía en general, fue diseñada y preparada con
profesionales interdisciplinarios del Ejército, quienes tienen a su cargo el trabajo de preservar cada pieza, con el fin de resguardar su valor como elemento patrimonial. La exhibición está formada por obras de destacados pintores nacionales, quienes
alcanzaron un reconocido prestigio, tanto en Chile como en el extranjero, por lo que se espera que la difusión de su trabajo
rinda un justo y merecido homenaje. <br>
Lo que se observa en esta Pinacoteca es del ámbito de la historia militar. Las pinturas irán rotando en forma alternada, dando
dinamismo a la muestra y, al mismo tiempo, asegurar a cada unidad la devolución de su patrimonio. También existe La
Ventana, espacio que dará apertura a otras expresiones artísticas. La historia de las pinturas, que ustedes observan, la pueden
conocer a través de los códigos QR que se encuentran al costado de cada una.                        </div>
                    </div>
                </div>
                
                <div class="row pt-5 pb-5">
                    <div class="col-md-4 col-sm-5 p-3">
                        <div class="card-pinacoteca position-relative">
                            <img class="card-img filtered-sepia" src="/assets/images/obras.png" alt="Card image">
                                <div class="card-img-overlay ">
                                    <div class="nav-item position-absolute h5" style="width:200px; bottom: 20px;">
                                        <a href="/obras" class="nav-link text-uppercase text-white ">Obras</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-4 col-sm-12 p-3">
                        <div class="card-pinacoteca position-relative">
                            <img class="card-img " src="/assets/images/restauraciones.png" alt="Card image">
                                <div class="card-img-overlay ">
                                    <div class="nav-item position-absolute h5" style="width:200px; bottom: 20px;">
                                        <a href="/procesorestauraciones.html" class="nav-link text-uppercase text-white">Proceso Restauraciones</a> 
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 p-3">
                        <div class="card-pinacoteca position-relative">
                            <img class="card-img filtered-sepia" src="/assets/images/equipo.png" alt="Card image">
                                <div class="card-img-overlay ">
                                    <div class="nav-item position-absolute h5" style="width:220px; bottom: 20px;">
                                        <a href="/equipo" class="nav-link text-uppercase text-white">Conoce al Equipo</a> 
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
</div>