---
layout: "wrapper" 
---


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 p-3 h2 text-center">
            {{ page.title }}
        </div>

        <div class="col-12">

<div class="row">
        {% for obra in site.data.obras %}
        <div class="col-md-4">
       <div class="card" style="width: 18rem;">
       
  <a href="{{ obra.url }}" data-lightbox="Obras" data-title="{{ obra.nombre }}"><img class="card-img-top rounded-0"   src="{{ obra.url }}" alt="{{ obra.nombre }}"/></a>
  <div class="card-body p-1">
    <p class="text-center">{{ obra.nombre }}</p>

  </div>
</div>
</div>
        {% endfor %}

</div>

        </div>
    </div>
</div>